*.aux
*.bbl
*.blg
*-blx.bib
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*~
*.pdf
*.ptb
*.fls
*.exe

*.o
*.hi
make
.shake.database
.diagrams_cache
diagrams/*.hs
diagrams/*.eps
TAGS
*_flymake.*
*.agdai

.cabal-sandbox
cabal.sandbox.config

talks/wesleyan-s15/diagrams
talks/mpc-15/diagrams

type-matrices.tex
type-matrices-mpc-15.tex